.method_call_info{
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}
.method_call_info th{
  padding: 6px;
  text-align: left;
  vertical-align: top;
  color: #333;
  background-color: #eee;
  border: 1px solid #b9b9b9;
}
.method_call_info td{
  padding: 6px;
  background-color: #fff;
  border: 1px solid #b9b9b9;
  font-size: 0.9em
}
