.method_call_logs{
  width: 100%;
  border-collapse: collapse;
}
.method_call_logs th{
  width: 25%;
  padding: 6px;
  text-align: left;
  vertical-align: top;
  color: #333;
  background-color: #eee;
  border: 1px solid #b9b9b9;
}
.method_call_logs td{
  padding: 6px;
  background-color: #fff;
  border: 1px solid #b9b9b9;
}
