<header class="header">
  <%= image_tag "okuribito_rails/logo.png", class: "header-logo" %>
  <nav class="global-nav">
    <ul>
      <li class="nav-item"><%= link_to "Monitoring", method_call_situations_path %></li>
      <li class="nav-item"><%= link_to "Logs", method_call_logs_path %></li>
    </ul>
  </nav>
</header>
