<!DOCTYPE html>
<html>
<head>
  <title>OkuribitoRails</title>
  <%= stylesheet_link_tag    "okuribito_rails/application", media: "all" %>
  <%= javascript_include_tag "okuribito_rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
