<!DOCTYPE html>
<html>
<head>
  <title>OkuribitoRecorder</title>
  <%= stylesheet_link_tag    "okuribito_recorder/application", media: "all" %>
  <%= javascript_include_tag "okuribito_recorder/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
